body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #00698f;
}

a {
    text-decoration: none;
    color: #00698f;
}

a:hover {
    color: #0097c5;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: 50%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 20%;
    height: 30px;
    font-size: 18px;
}